#note-list {
  max-width: 68rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  margin: 2rem auto;
}

#note-list a {
  text-decoration: none;
}

.note {
  width: 30%;
  background-color: var(--color-primary-800);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  border-radius: 4px;
  animation: fade-blur-in 1s ease-out forwards;
  transition: all 0.3s ease-out;
  position: relative;
}

.note:hover {
  background-color: var(--color-primary-900);
  transform: translateY(-0.25rem);
}

.note-meta {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-primary-100);
  font-weight: bold;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid var(--color-primary-300);
}

.note h2 {
  margin: 0 0 0.5rem 0;
  color: var(--color-primary-10);
}

.note p {
  margin: 0;
  color: var(--color-primary-50);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.trashIcon {
  color: var(--color-secondary-50);
  cursor: pointer;
}

.trashIcon:hover {
  box-shadow: 5px 10px rgba(0, 0, 0, 0.2);
  color: var(--color-secondary-200);
}
.delete-btn {
  position: absolute;
  right: 8px;
  background: transparent;
  border: none;
  outline: none;
}
.w-6 {
  width: 1.5rem;
}

.h-6 {
  height: 1.5rem;
}

.externalLinkIcon {
  width: 1.1rem;
  height: 1.1rem;

  display: inline-block;

  color: var(--color-secondary-400);
  font-weight: 900;
}

.link-to-note {
  position: absolute;
  top: -5px;
  right: 6px;
  padding: 4px 4px 2px;
  border-radius: 2px;
  background-color: var(--color-primary-10);
}

.link-to-note:hover > * {
  color: var(--color-secondary-600);
}
